cargar_barrios.py
cargar_localidades.py
cargar_provincias.py
localidades.xlsx
candado.png
asd.rar
anuncio-activo-experiomento.html
a.html
08-11-2023.py
generar_seccion_servicios.py
__pycache__/generar_seccion_servicios.cpython-311.pyc
generar_secciones.py
__pycache__/generar_secciones.cpython-311.pyc
__pycache__/generar_secciones.cpython-311.pyc
data.py
.gitignore
__pycache__/data.cpython-311.pyc
