:root {
    --rojo: #eee --fondo: #222
}

.scroll-section {
    margin-top: -4rem;
    /* Ajusta según sea necesario para que el título sea visible */
    padding-top: 4rem;
    /* Asegura que el contenido no quede oculto por el margen superior negativo */
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;

    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
    animation-iteration-count: infinite;

}

.animation_back_in_rigth {
    display: inline-block;
    margin: 0 0.5rem;

    animation: slideInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
    /* animation-iteration-count: infinite; */

}

.responsive-iframe {
    width: 100%;
    padding-top: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: #528fd8;
    text-transform: uppercase;
    font-size: 16px;
}

/* NAV */
nav {
    background-color: #528fd8;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
    font-size: 3rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    /* color: #fff;
    text-decoration: none;
    font-size: 30px;
    line-height: 30px; */
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
    font-size: 0.5em;
}

nav ul li a:hover {
    color: #666;
}

nav ul li a:active {
    font-weight: bold;
}

nav ul li a::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* background-color: #333; */
    vertical-align: middle;
}

nav ul li a.active::before {
    background-color: #666;
}

/* FIN NAV */

.contenedor {
    width: 95%;
    margin: auto;
}

header {
    text-align: center;
    font-variant: all-petite-caps;

}

#contenido-principal {
    padding-top: 40px;
    padding-bottom: 40px;
    /* background: linear-gradient(rgb(181 195 206) 15%, #1a73e8 100%);    background-position: center, center; */
    background:linear-gradient(rgb(51 51 51) 15%, #1a73e8 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40.69em;
}


header h1 {
    font-size: 4rem;
    color: #FFF;
}

header h2 {
    font-size: 3rem;
    /* color: #fbfbfbc9; */
    color: #fa8231;

}

header p {
    font-size: 2rem;
    color: #ffffffe3;
    column-count: 1;
}



/* header de h1 al h6{} */

main {
    height: auto;
    text-align: center;
    font-variant: all-petite-caps;

}

#servicios {
    padding-top: 5em;
    padding-bottom: 5em;
    /* background: linear-gradient(rgb(51, 51, 51, 0.5) 0%, rgb(189, 230, 78, 0.3) 100%), url(abog.svg); */
    background-color: #1a73e8;
    background-size: cover;
}

#servicios-listado {
    /* background-color: #333; */
    top: 0;
    text-align: center;
    z-index: 1;
    font-size: 3rem;
}

#servicios-listado ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#servicios-listado li {
    display: inline-block;
    margin: 0 5px;
}

#servicios-listado li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #ffffffbd;
    transition: color 0.3s ease-in-out;
    font-size: 0.9em;
}
#servicios-listado li a:hover{
    background-color: white;
    color: black;
}

/* h1 al h6 */
#servicios h1,
h3 {
    font-size: 4rem;
    color: #ffffffbd;
    padding: inherit;
}

#servicios h2,
h4 {
    font-size: 3rem;
    /* color: crimson; */
    color: #fa8231;
}

#servicios p {
    font-size: 1.5rem;
}

.servicio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.servicio h1 {
    font-size: 4rem;
    color: darkorange;
}

/* .servicios h1 al h6 */

.servicio p {
    font-size: 1.5rem;
}

.servicio a.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 200px;
    /* height: 200px; */
    margin: 10px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    /* aspect-ratio: 1 / 1;  */
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    background-color: #333333e8;

}

#contacto {
    padding-top: 3em;
    padding-bottom: 3em;
    /* background: linear-gradient(rgb(51, 51, 51, 0.5) 0%, rgb(189, 230, 78, 0.3) 100%); */
    background-color: #1a73e8;
}

#contacto h1 {
    font-size: 4rem;
    color: #ffffffbd;
}

#contacto,
#opciones h2 {
    font-size: 3rem;
    color: #fa8231;
}

#contato p {
    font-size: 1.5rem;
}

#contacto a.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    /* height: 200px; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    border: 2px solid #000;
    border-radius: 10px;
    /* aspect-ratio: 1 / 1;  */
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    background-color: #333333e8;

}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;

    position: static;
    bottom: 0;
    width: 100%;
    height: 4rem;
}

footer img {
    width: 2em;
    height: 2em;
    text-decoration: none;
    margin-top: auto; margin-bottom: -7px;
}

footer a {
    text-decoration: none;
    font-size: 1.69em;
    color: #1a73e8;
}

.box_logo {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #0573ce;
}
.box_logo p{
    color: rgb(255, 255, 255);
    font-size: x-large;
}
.box_logo img{
    height: 150px;
}

.box_paginaswebhere {
    width: fit-content;
    padding-top: 1em;
    float: left;
    transition: 1s;
}

.box_paginaswebhere:hover {
    /* background-color: #e8f4c8; */
    background-color: #1a73e8;
    transition-timing-function: linear;
}

.box_paginaswebhere a:hover {
    text-decoration: none;
    color: #FFF;
}

/* unvisited link */
a.ciudades_links:link {
    color: #FFF;
}

/* visited link */
a.ciudades_links:visited {
    color: #FFF;
}

/* mouse over link */
a.ciudades_links:hover {
    color: #FFF;
}

/* selected link */
a.ciudades_links:active {
    color: #FFF;
}

/* Media querys */
@media screen and (max-width: 767px) {
    .servicio a.boton {
        width: 100%;

        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
        /* aspect-ratio: 1 / 1; */
    }

}

@media screen and (max-width: 600px) {

    .servicio a.boton {
        display: block;
        width: 80%;
        margin-bottom: 10px;
        border-radius: 5px;
        /* ser:ser1; */
        /* height: 20px; */
        box-sizing: content-box;
    }

    .scroll-section {
        margin-top: -7rem;
        padding-top: 7rem;
    }

}

@media screen and (min-width:1024px) {

    header h1,
    #servicios h1,
    #contacto h1 {
        font-size: 7rem;
    }

    #servicios {
        padding-top: 5em;
        padding-bottom: 5em;
        /* background: linear-gradient(rgb(51, 51, 51, 0.5) 0%, rgb(189, 230, 78, 0.3) 100%), url(abog.svg); */
        /* background: url(llavellavesvg.svg); */
        background-color: #1a73e8;
        background-size: cover;
    }

    #servicios p {
        color: #FFF;
    }
}


/* Estilos para el botón "Subir" */
.scroll-to-top {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    border-radius: 50%;
    /* Hacerlo circular */
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    /* Asegura que esté encima de otros elementos */
}

/* Estilos al pasar el mouse por encima del botón */
.scroll-to-top:hover {
    background-color: #0056b3;
    /* Cambia el color de fondo al pasar el mouse por encima */
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-variant: normal;
}

.button1 {
    background-color: #b5c3ce;
    color: white;
    /* border: 0.2em solid #0573ce; */
}
.button2 {
    background-color: #b5c3ce;
    color: white;
    /* border: 0.2em solid #0573ce; */
}
.button1:hover {
    background-color: white;
    color: black;
}
a{
    color: white;
}

/* Boton de ir al pie de la pagina */
.button-flotante {
    border: 0.2em solid #5a5a5a;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #838383;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* border-radius: 5px; */
    border-radius: 0.4em;
    text-decoration: none;
    margin-bottom: -10px;
}